# bfa base image4.0 python3.11
amqp                  5.2.0
amqp-util             0.7.1
annotated-types       0.7.0
apache-skywalking     1.1.0
appdirs               1.4.4
APScheduler           3.10.4
arrow                 1.3.0
async-timeout         4.0.3
billiard              4.2.1
boto3                 1.35.36
botocore              1.35.36
celery                5.4.0
certifi               2024.8.30
chardet               5.1.0
charset-normalizer    3.3.2
click                 8.1.7
click-didyoumean      0.3.1
click-plugins         1.1.1
click-repl            0.3.0
cramjam               2.8.4
Cython                0.29.37
datasketch            1.6.5
dg-logging            0.8.1
dg-mq                 1.5.2
dg-s3fs               0.0.5
dg-sdk-env-config     1.0.7
diff-lib              0.6.7
document-beans        0.9.46.2
et-xmlfile            1.1.0
financial-beans       1.0.37.dev0
fs                    2.4.16
fs-s3fs               1.1.2
grpcio                1.66.2
grpcio-tools          1.66.2
idna                  3.10
importlib-metadata    4.12.0
interval              1.0.0
jmespath              1.0.1
kafka-python          2.0.2
kombu                 5.4.2
lxml                  4.9.4
lz4                   4.3.3
numpy                 1.22.0
openpyxl              3.0.10
packaging             24.1
pdf2txt-decoder       0.9.46.2
pillow                10.2.0
pip                   23.3.2
prompt_toolkit        3.0.48
protobuf              5.28.2
psutil                6.0.0
pydantic              2.4.0
pydantic_core         2.10.0
python-dateutil       2.9.0.post0
python-docx           0.8.11
python-snappy         0.7.3
pytz                  2024.2
PyYAML                6.0.2
redis                 4.3.6
regex                 2024.9.11
requests              2.32.3
s3transfer            0.10.3
scipy                 1.10.1
setuptools            57.5.0
six                   1.16.0
types-python-dateutil 2.9.0.20241003
typing                3.6.6
typing_extensions     4.12.2
tzdata                2024.2
tzlocal               5.2
ujson                 5.4.0
urllib3               2.2.3
vine                  5.1.0
wcwidth               0.2.13
wheel                 0.44.0
wrapt                 1.16.0
zipp                  3.19.1
zstandard             0.23.0