# py3.7.15
amqp                   5.3.1
apache-skywalking      1.1.0
appdirs                1.4.4
APScheduler            3.10.4
arrow                  1.3.0
billiard               4.2.1.2
blinker                1.9.0
boto3                  1.35.66
botocore               1.35.66
celery                 5.4.0
certifi                2024.8.30
chardet                5.1.0
charset-normalizer     3.3.2
click                  8.1.7
click-didyoumean       0.3.1
click-plugins          1.1.1
click-repl             0.3.0
cramjam                2.9.0
Cython                 0.29.37
datasketch             1.6.5
deprecation            2.1.0
dg-logging             0.8.1
dg-mq                  2.1.1
dg-PyPDF2              1.27.12
dg-s3fs                0.1.0
dg-sdk-env-config      1.0.7
dictdiffer             0.9.0
diff-lib               0.6.8
document-beans         0.9.46.3a0
et_xmlfile             2.0.0
financial-beans        1.0.27
Flask                  3.0.3
fs                     2.4.16
fs-s3fs                1.1.2
gensim                 4.3.3
grpcio                 1.68.0
grpcio-tools           1.68.0
idna                   3.10
importlib-metadata     4.12.0
interval               1.0.0
itsdangerous           2.2.0
Jinja2                 3.1.4
jmespath               1.0.1
kafka-python           2.0.2
kombu                  5.4.2
Levenshtein            0.25.1
lxml                   5.3.0
lz4                    4.3.3
MarkupSafe             3.0.2
numpy                  1.26.4
openpyxl               3.0.10
packaging              24.1
pandas                 2.0.3
pdf-editor             0.3.0
pdf2txt-decoder        0.9.46.3a0
pillow                 10.4.0
pip                    23.3.2
prompt_toolkit         3.0.48
protobuf               5.28.3
psutil                 6.0.0
pydantic               1.10.19
PyMuPDF                1.24.14
PyMySQL                1.1.1
python-dateutil        2.9.0.post0
python-docx            1.1.2
python-Levenshtein     0.25.1
python-snappy          0.7.3
pytz                   2024.2
PyYAML                 6.0.2
RapidFuzz              3.10.1
redis                  5.2.0
requests               2.32.3
rocketmq-client-python 2.0.0
s3transfer             0.10.4
scipy                  1.13.1
sentry-sdk             2.16.0
six                    1.16.0
smart-open             7.0.5
types-python-dateutil  2.9.0.20241003
typing                 3.7.4.3
typing_extensions      4.12.2
tzdata                 2024.2
tzlocal                5.2
u-shape-framework      0.10.1
ujson                  5.10.0
urllib3                2.2.3
vine                   5.1.0
wcwidth                0.2.13
Werkzeug               3.1.3
wheel                  0.44.0
wrapt                  1.16.0
xlrd                   2.0.1
zipp                   3.20.2
zstandard              0.23.0